html {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

#header {
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#header a {
  font-size: 18px;
  color: white;
}

#divider {
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#divider h3 {
  color: white;
}

footer {
  text-align: left;
  background-color: dimgray;
  color: white;
}

footer a {
  font-size: 18px;
  color: white;
}

#copyright {
  font-size: 11px;
}
